    {% extends "header.html" %}
    {% block option %}
        <a href="profile.php">My Profile</a>
        <a href="profile.php">Change Password</a>
        <a href="delete-acc.php">Delete Account</a>
        <a href="logout.php">Log Out</a>
    {% endblock %}
    {% block body %}
    	<div class="main">
    		<div class="container">
    			<table>
    				<form action="profile-update.php" method="POST" enctype="multipart/form-data">
    					<tr>
    						<td>Full Name</td>
    						<td><input type="text" name="fullname" value="{{name}}"></td>
    					</tr>
    					<tr>
    						<td>Date OF Birth</td>
    						<td><input type="text" name="date" placeholder="YYYY-MM-DD" value="{{dob}}"> </td>
    					</tr>
    					<tr>
    						<td>Phone</td>
    						<td><input type="text" name="phone" value="{{phone}}"></td>
    					</tr>
    					<tr>
    						<td>Email</td>
    						<td><input type="text" name="email" value="{{email}}"></td>
    					</tr>
    					<tr>
    						<td>Website</td>
    						<td><input type="text" name="website" value="{{website}}"></td>
    					</tr>
    					<tr>
    						<td>Job</td>
    						<td><input type="text" name="job" value="{{job}}"></td>
    					</tr>
    					<tr>
    						<td>Description</td>
    						<td><textarea name="desc">{{description}}</textarea></td>
    					</tr>
    					<tr>
    						<td>Profile Picture</td>
    						<td><input type="file" name="profile-img"></td>
    					</tr>
    					<tr>
    						<td colspan="2" style="text-align: center;"><input type="submit" name="update" value="UPDATE PROFILE"></td>
    					</tr>
    				</form>
    			</table>
    		</div>
    	</div>
    	<div class="space"></div>
    {% endblock %}
    {% block script %}
        <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
        </script>
    {% endblock %}