<!DOCTYPE html>
<html>
<head>
    <title>Preface</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Preface Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
          Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <!-- webfonts -->
    <link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <!-- webfonts -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>

</head>
<body>
<div id="home" class="header">
        <div class="container">
            <!-- top-hedader -->
            <div class="top-header">
                <!-- /logo -->
                <!--top-nav---->
                <div class="top-nav">
                    <div class="navigation">
                        <div class="logo">
                            <h1><a href="home.php"><span>P</span>REFACE</a></h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="main">
        <div class="container">
            <table style="width: 55%">
                <tr>
                    <td colspan="2">
                        <h1>
                        {% if verify != 1 %}
                            Your link is invalid or already expired 
                        {% else %} 
                            Your Account already verified <i class="fa fa-check" style="color: green;"></i>
                        {% endif %}
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;"><a href="login.php"><button>Back to Home</button></a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="space"></div>
</body>
</html>